<app-header></app-header>
<main>
  <div class="pricing-header p-3 pb-md-4 pt-5 mx-auto text-center">
    <h3 class="fw-normal custom_font">
      Contact <span style="color: rgb(247, 185, 15)">Us</span>
    </h3>
    <p class="fs-3 text-muted">
      Ut possimus qui ut temporibus culpa velit eveniet modi
    </p>
  </div>
  <div class="container form_container">
    <div class="row mb-3">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1059.0562089181205!2d88.37559186534006!3d26.769056122948992!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39e441297b764937%3A0xc464d98ddba99ed2!2sSiliguri%20Institute%20Of%20Technology!5e0!3m2!1sen!2sin!4v1654972752398!5m2!1sen!2sin"
        height="350"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
    <div class="row justify-content-around">
      <div class="col-md-3 bx">
        <div class="d-flex align-items-center justify-content-around">
          <div class="l_logo"><i class="fa-solid fa-location-dot"></i></div>
          <div class="r_text">
            <h3 class="u_text">Location</h3>
            <div class="text">
              <p>A108 Adam Street</p>
              <p>New York, NY 535022</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 bx">
        <div class="d-flex align-items-center justify-content-around">
          <div class="l_logo"><i class="fa-solid fa-clock"></i></div>
          <div class="r_text">
            <h3 class="u_text">Open Hour</h3>
            <div class="text">
              <p>Monday-Saturday:</p>
              <p>11:00 AM - 2300 PM</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 bx">
        <div class="d-flex align-items-center justify-content-around">
          <div class="l_logo"><i class="fa-solid fa-envelope"></i></div>
          <div class="r_text">
            <h3 class="u_text">Email</h3>
            <div class="text">
              <p>info@example.com</p>
              <p>contact@example.com</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 bx">
        <div class="d-flex align-items-center justify-content-around">
          <div class="l_logo"><i class="fa-solid fa-phone"></i></div>
          <div class="r_text">
            <h3 class="u_text">Call</h3>
            <div class="text">
              <p>+1 5589 55488 51</p>
              <p>+1 5589 22475 14</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <form class="mb-3 mt-4">
      <div class="row">
        <div class="col-md-6">
          <label for="name" class="form-label">Name</label>
          <input
            type="text"
            class="form-control"
            id="name"
            aria-describedby="namehelp"
          />
        </div>
        <div class="col-md-6">
          <label for="exampleInputEmail1" class="form-label">Email</label>
          <input
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
          />
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label for="subject" class="form-label"> Subject</label>
          <input type="text" class="form-control" id="subject" />
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <label for="message" class="form-label">Message</label>
          <textarea type="text" class="form-control" id="message"></textarea>
        </div>
      </div>
      <div class="submit" style="text-align: center">
        <button type="submit" class="btn btn-warning mx-2 px-5 py-2 fs-5">
          Book now
        </button>
      </div>
    </form>
  </div>
</main>
<app-footer></app-footer>
