@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
body{
    color: rgb(34, 35, 36);
}
.custom_font{
    font-family: 'Satisfy', cursive;
}
.custom_bg {
  /* background: url("../../../assets/img/coffeehouse-2600877_1920.jpg"); */
  height: 100%;
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../../assets/img/coffeehouse-2600877_1920.jpg");
}
.white_font {
  color: white;
}
.yellow_font {
  color: rgb(247, 185, 15);
}
.custome_font_b {
  width: 100%;
  background: linear-gradient(
    45deg,
    rgba(110, 76, 3, 0.329),
    rgba(0, 0, 0, 0.288),
    rgba(110, 76, 3, 0.329)
  ) !important;
}
.card{
    cursor: pointer;
    transition: ease-in-out ;
    height: 16rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border: none;
}
.card-body{
    padding-top: 50px;
    transition: ease-in-out .3s;
}
.card-body:hover{
    padding-top: 20px;
}
.card:hover{
    background-color: rgba(255, 166, 0, 0.911);
    color: white!important;
}