<app-header></app-header>
<main>
  <div
    class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light custom_bg"
  >
    <div class="col-md-5 p-lg-5 mx-auto my-5 custome_font_b">
      <h1 class="display-4 fw-normal white_font">
        <span class="yellow_font">CAFE</span>LAZIZ
      </h1>
      <p class="lead fw-normal white_font">
        And an even wittier subheading to boot. Jumpstart your marketing efforts
        with this example based on Apple’s marketing pages.
      </p>
      <div class="d-flex justify-content-center">
        <a class="btn btn-outline-warning mx-2 white_font" href="#"
          >Coming soon</a
        >
        <a class="btn btn-outline-warning mx-2 white_font" href="#">Book now</a>
      </div>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div
      class="product-device product-device-2 shadow-sm d-none d-md-block"
    ></div>
  </div>
  <div class="container-fluid marketing pt-5 mt-4">
    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1 custom_font">
          Eum ipsam laborum deleniti velit pariatur architecto aut nihil
          <span class="text-muted">See for yourself.</span>
        </h2>
        <p class="lead">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis aute
          irure dolor in reprehenderit Lorem ipsum dolor sit amet, consectetur
          adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ullamco laboris nisi ut aliquip ex ea commodo consequat.
          Duis aute irure dolor in reprehenderit in voluptate velit. Ullamco
          laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
          in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu
          fugiat nulla pariatur.
        </p>
      </div>
      <div class="col-md-5 order-md-1">
        <img
          class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
          width="500"
          height="500"
          src="../../../assets/img/leftimg.jpg"
          alt=""
          srcset=""
        />
      </div>
    </div>
  </div>
  <div class="pricing-header p-3 pb-md-4 pt-5 mx-auto text-center">
    <h3 class=" fw-normal custom_font">Why Choose <span style="color: rgb(247, 185, 15);">Our Restaurent</span></h3>
    <p class="fs-3 text-muted">Ut possimus qui ut temporibus culpa velit eveniet modi </p>
  </div>
  <div class="album py-2 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card ">
            <div class="card-body">
              <h3 class="card-title ">01</h3>
              <h3 class="card-title custom_font">Lorem Ipsum</h3>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card ">
            <div class="card-body">
              <h3 class="card-title ">02</h3>
              <h3 class="card-title custom_font">Lorem Ipsum</h3>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card ">
            <div class="card-body">
              <h3 class="card-title ">03</h3>
              <h3 class="card-title custom_font">Lorem Ipsum</h3>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<hr class="featurette-divider" />
<app-footer></app-footer>
