<app-header></app-header>
<main>
  <div class="pricing-header p-3 pb-md-4 pt-5 mx-auto text-center">
    <h3 class="fw-normal custom_font">
      Our <span style="color: rgb(247, 185, 15)">Menu</span>
    </h3>
    <p class="fs-3 text-muted">
      Ut possimus qui ut temporibus culpa velit eveniet modi
    </p>
  </div>
  <div class="menu_container pb-md-4">
    <div class="menu_items">
      <div
        class="alert alert-warning alert-dismissible fade show custom_alerts"
        role="alert"
      >
        <p>Tax excluded!</p>
        <button
          type="button"
          class="btn-close custom_close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>
      <div class="card">
        <div class="card-body">
          <div class="left_text">
            <h2>
              <span class="veg_circle"><i class="far fa-stop-circle"></i></span>
              Food Name
            </h2>
            <p>This is some text within a card body.</p>
          </div>
          <div class="right_image">
            <img src="../../../assets/img/leftimg.jpg" alt="" />
            <p class="price">₹190</p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <div class="left_text">
            <h2>
              <span class="none_veg_circle"
                ><i class="far fa-stop-circle"></i
              ></span>
              Food Name
            </h2>
            <p>This is some text within a card body.</p>
          </div>
          <div class="right_image">
            <img src="../../../assets/img/leftimg.jpg" alt="" />
            <p class="price">₹190</p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <div class="left_text">
            <h2>
              <span class="veg_circle"><i class="far fa-stop-circle"></i></span>
              Food Name
            </h2>
            <p>This is some text within a card body.</p>
          </div>
          <div class="right_image">
            <img src="../../../assets/img/leftimg.jpg" alt="" />
            <p class="price">₹190</p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <div class="left_text">
            <h2>
              <span class="veg_circle"><i class="far fa-stop-circle"></i></span>
              Food Name
            </h2>
            <p>This is some text within a card body.</p>
          </div>
          <div class="right_image">
            <img src="../../../assets/img/leftimg.jpg" alt="" />
            <p class="price">₹190</p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <div class="left_text">
            <h2>
              <span class="none_veg_circle"
                ><i class="far fa-stop-circle"></i
              ></span>
              Food Name
            </h2>
            <p>This is some text within a card body.</p>
          </div>
          <div class="right_image">
            <img src="../../../assets/img/leftimg.jpg" alt="" />
            <p class="price">₹190</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<app-footer></app-footer>
